/* Site-wide styling */

.container {
    max-width: 960px;
    padding: 36px 0;
    margin: 0 auto;
    width: 100%;
}

.page-title {
    color: #42426a;
    font-size: 28pt;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
}

.title-underline {
    display: block;
    width: auto;
    border: 1px solid #e8e8ed;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}