/* Styles for Board page, including columns and cards (for now) */

/* Page styles */
.board {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.board .container {
    padding: 36px 0 12px;
}

.board h3 {
    color: #333;
}

/* Column styles */

.columns {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
}

/* TODO: for mobile, use percentages for columns */
.columns-container {
    display: grid;
    grid-template-columns: repeat(20, 240px);
    grid-auto-rows: auto;
    grid-gap: 2%;    
    padding: 0 36px;
    height: 100%;
    overflow-x: auto;
}

.column {
    position: relative;
    text-align: center;
    background: #eee;
    border: 2px solid #afafaf;
    border-radius: 5px;
    height: max-content;
}

.column-name {
    padding: 16px 0 8px;
    margin: 0 auto;
    border-bottom: 1px solid #afafaf;
    width: 90%;
}

.add-column-button {
    width: 100%;
    color: #42426a;
    background: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 36px;
}

.add-column-button:hover {
    opacity: 0.7;
    background: rgba(0, 0, 0, 0.1);
}

.add-column-button .column-name {
    border: none;
    padding: 16px 0;
}

.add-column.rename-column-dialog {
    padding: 2px 0 16px;
}

.add-column.rename-column-dialog button {
    top: 2px;
}

.add-card-button {
    width: 90%;
    border: none;
    background: none;
    cursor: pointer;
    padding: 12px;
    margin: 12px 0;
    font-weight: bold;
    border-radius: 5px;
    color: #42426a;
    background: rgba(0, 0, 0, 0.1);
}

.add-card-button:hover {
    opacity: 0.7;
}

/* Board menu styles */
.board-menu-container {
    background: white;
    position: relative;
    box-shadow: 0px 0px 36px 24px white;
    padding-right: 36px;
    padding-bottom: 36px;
}

.board-menu {
    border: 2px solid #afafaf;
    border-radius: 5px;
    height: 100%;
    padding: 16px;
    background: #eeeeef;
    box-sizing: border-box;
}

.board-menu-title {
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #afafaf;
}

/* Column menu styles */
.column-menu-container {
    position: absolute;
    right: 0;
    top: 0;
}

.column-menu {
    position: absolute;
    top: 26px;
    right: 12px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px #333;
    padding: 6px;
}

.column-menu button {
    width: 130px;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 6px;
}

.column-menu button:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.column-menu button:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.column-menu button:hover {
    background: #fbf380;
}

.delete-column-dialog {
    width: 90%;
    margin: 12px auto 0;
    padding: 6px;
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(230, 0, 0, 0.9);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 10pt;
    box-shadow: 0px 0px 12px -2px red;
}

.delete-column-dialog div {
    margin-bottom: 12px;
}

.delete-column-button {
    width: 46%;
    margin: 0 2%;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 5px;
    background: #eee;
    height: 24px;
}

.delete-column-button:hover {
    color: #555;
    background: #e8e8e8;
}

.delete-column-button.delete:hover {
    color: red;
}

.rename-column-dialog {
    padding: 16px 0 3px;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.rename-column-dialog input {
    font-size: 14pt;
    width: 90%;
    box-sizing: border-box;
    padding-right: 24px;
}

.rename-column-dialog button {
    position: absolute;
    top: 16px;
    right: 12px;
    border: none;
    background: none;
    height: 28px;
    cursor: pointer;
}

.rename-column-dialog button:hover {
    opacity: 0.6;
}

.menu-button {
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 8px;
    right: 4px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-button:hover {
    color: #42426a;
}

.menu-button:focus {
    outline: none;
}

/* Card styles */

.card {
    width: 90%;
    margin: 12px auto 0;
    padding: 20px 0px;
    cursor: pointer;
    background: rgba(66, 66, 106, 0.75);
    color: white;
    font-weight: bold;
    border: 1px solid #42426a;
    border-radius: 5px;
}

.card:hover {
    background: rgba(66, 66, 106, 1);
}

