/* Styles for the Dashboard component, including DashboardTile */


#dashboard {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-column-gap: 2.67%;
    grid-row-gap: 48px;
    margin-top: 48px;
}

/* Styles for each dashboard tile */
.dashboard-tile {
    position: relative;
    display: inline-block;
    background: #fbf380;
    text-align: center;
    font-size: 14pt;
    box-shadow: 4px 4px 8px -4px #42426a;
    border-radius: 10px;
}

.dashboard-tile a {
    position: relative;
    display: inline-block;
    padding: 24px 0;
    border-radius: 10px;
    text-decoration: none;
    color: #42426a;
    width: 100%;
}

.dashboard-tile:hover {
    background: #f7ea42;
    box-shadow: 4px 4px 8px -2px #42426a;
    font-weight: bold;
}

/* Styles for the "create new board" tile */
.new-board-tile {
    position: relative;
    display: inline-block;
    background: rgba(66, 66, 106, 0.85);
    text-align: center;
    font-size: 14pt;
    box-shadow: 4px 4px 8px -4px #42426a;
    border-radius: 10px;
    color: #fbf380;
    padding: 24px 0;
}

.new-board-tile:hover {
    cursor: pointer;
    background: rgba(66, 66, 106, 1);
    box-shadow: 4px 4px 8px -2px #42426a;
}

/* Styles for the menu that appears when hovering over a dashboard tile */
.dashboard-tile-menu {
    visibility: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 28px;
    border-radius: 0 0 10px 10px;
}

.dashboard-tile:hover .dashboard-tile-menu {
    visibility: visible;
}

.dashboard-tile-menu-button {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    color: #42426a;
    font-size: 12pt;
    padding-bottom: 8px;
    cursor: pointer;
}

.dashboard-tile-menu-button:hover {
    opacity: 0.6;
}


/* Styles for the forms such as renaming, sharing, or deleting a board */
.dashboard-tile-rename-form {
    position: relative;
    top: -12px;
}

.dashboard-tile-rename-form input {
    height: 24px;
    padding: 1px 2px;
}

.dashboard-tile-rename-form button {
    height: 30px;
    cursor: pointer;
    color: #42426a;
    border: 1px solid #aaa;
    background: #e8e8ed;
}

.dashboard-tile-rename-form button:hover {
    color: green;
    background: #ddd;
}

.dashboard-tile-delete-form {
    position: relative;
    top: -12px;
}

.dashboard-tile-delete-form button {
    height: 30px; 
    cursor: pointer;
    color: #42426a;
    border: 1px solid #aaa;
    border-radius: 10px;
    background: #eee;
    margin: 0 3px;
}

.dashboard-tile-delete-form button.cancel:hover {
    border: 1px solid #333;
}

.dashboard-tile-delete-form button.delete {
    color: red;
}

.dashboard-tile-delete-form button.delete:hover {
    border: 1px solid red;
}