/* Navigation Bar Styles */

#navigation {
    background: #42426a;
    height: auto;
    padding: 0 1%;
    position: relative;
}

#navigation-left {
    width: 50%;
    position: relative;
    height: auto;
    display: inline-block;
}

#navigation-right {
    width: 50%;
    position: relative;
    height: auto;
    display: inline-block;
    text-align: right;
}

#navigation-right .nav-button {
    right: 0;
    top: 0;
}

.nav-button {
    font-weight: bold;
    text-align: center;
    width: 100px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    font-size: 13pt;
    padding: 18px 12px;
}

.nav-button:hover {
    opacity: 0.7;
}

#nav-title {
    color: #fbf380;
}
