/* Navigation Bar Styles */

#navigation {
    background: #42426a;
    height: auto;
    padding: 6px 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
}

.nav-button {
    font-weight: bold;
    text-align: center;
    padding: 0 12px;
}

.nav-button a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    font-size: 14pt;
    padding: 18px 0;
    width: 100%;
}

.nav-button a:hover {
    opacity: 0.7;
}

.btn-1 a {
    grid-column: 1;
    color: #fbf380;
}

.btn-2 {
    grid-column: 2;
}

.btn-3 {
    grid-column: 3;
}

.btn-4 {
    grid-column: 4;
}