/* Styles for User component (viewing user info) */

.user-info {
    margin-top: 36px;
    font-size: 14pt;
}

.user-item {
    margin-bottom: 36px;
}

.user-item p {
    font-weight: bold;
    color: #333;
}

.user-item span {
    font-weight: normal;
}

.user-item.user-bio span {
    display: block;
}

.user-item.user-bio span.empty {
    display: inline;
}